body {
  height: 100%;
  width: 100%;  
  align: center;
  margin: 0 auto;
  font: arial;
}

nav {
  display: inline;
  float: right;

}

footer {
  margin-bottom: 15%;
  height: auto;
}

header {
  position: relative;
  height: auto;
  width: 78%;
  margin: 0 auto;
  margin-right: 11%;
  margin-left: 11%;
}

ul {
  list-style-type: none;
}

h4 {
  margin: 0 auto;
  padding: 0 auto;
}

#nav-content {
  margin-right: .25em
}

#nav-content ul li {
  float: right;
}

#nav-content ul li .dropdown-content {
  display: none;
  position: absolute;
  bottom: -.085em;
  margin: 0 auto;
  left: 5.39em;
  height: .25em;
}

#nav-content ul li:hover .dropdown-content {
  display: inline-block;
}

#alt-nav {
  display: none;
}

.services-divide {
  width: 1vw;
  float: right;
}

#nav-content ul li .dropdown-content button {
  padding-top: 0px;
  color: #aa917d;
  padding-right: 0px;
  margin-left: -4px;
}

#nav-content button p {
  margin: 0 auto;
  font-size: 12pt;
  color: #d6cdc6;
}

.main-info {
  width: 76.5%;
  display: block;
  margin: 0 auto;
  height: auto;
  margin-bottom: 1.5em;
}

.main-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  padding: 0;
  margin-bottom: .25em;
}

.main-info ul li {
  border: .4em solid #675241;
  border-radius: 1em;
  width: 30%;
  height: 10em;
  display: flex;
  justify-content: space-around;
  margin: 0em;
  font-weight: 100;
}

.main-info h1 {
  width: 90%;
  text-align: center;
  font-size: 3.35vw;
  line-height: 4vw;
  font-family: "Futura-CondensedMedium", sans-serif;
  border-bottom: .0625em solid #675241;
  font-weight: 100;
  color: #d6cdc6;
}

.about-container h1 {
  font-family: "Futura-CondensedMedium", sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  color: #d6cdc6;
}

.portfolio-container h1 {
  font-family: "Futura-CondensedMedium", sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  color: #d6cdc6;
  //margin-top: .5em;
  margin-bottom: 15px;
}

.services-sourcing-container h1 {
  font-family: "Futura-CondensedMedium", sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  color: #d6cdc6;
}

.services-sourcing-container h2 {
  font-family: "Futura-CondensedMedium", sans-serif;
  font-weight: 100;
  color: #d6cdc6;
}

.services-consulting-container h1 {
  font-family: "Futura-CondensedMedium", sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  color: #d6cdc6;
}

.services-consulting-container h2 {
  font-family: "Futura-CondensedMedium", sans-serif;
  font-weight: 100;
  color: #d6cdc6;
}

.services-installation-container h1 {
  font-family: "Futura-CondensedMedium", sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  color: #d6cdc6;
}

.services-installation-container h2 {
  font-family: "Futura-CondensedMedium", sans-serif;
  font-weight: 100;
  color: #d6cdc6;
}

.contact-container h1 {
  font-family: "Futura-CondensedMedium", sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  color: #d6cdc6;
  //height: 1.5em;
}

.about-container p {
  font-family: arial;
  font-weight: 100;
  font-size: 1.1vw;
  color: #d6cdc6;
}

.portfolio-container p {
  font-family: arial;
  font-weight: 100;
  font-size: 1vw;
  color: #d6cdc6;
}

.services-container p {
  font-family: arial;
  font-weight: 100;
  font-size: 1.2vw;
  color: #d6cdc6;
}

.main-info ul li p {
  font-family: arial;
  font-size: 10pt;
  color: #d6cdc6;
  text-align: center;
  font-style: italic;
}

.main-logo {
  width: 16em;
  height: auto;
  margin-left: 0;
  cursor: pointer;
}

#main-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1em;
}

#nav-content button {
  padding-bottom: 0px;
}

#alt-nav-content button {
  padding-bottom: 0px;
  color: #d6cdc6;
}

#main-nav ul {
  margin: 0 auto;
}

#alt-nav ul {
  margin: 0 auto;
}

button {
  font-family: arial;
  color: white;
  cursor: pointer;
  border: none;
  background: none;
  padding-left: 0px;

}

button:focus {
  outline: 0;
}

.contact-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #d6cdc6;
  text-decoration-color: #d6cdc6;

}

.sourcing-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.consulting-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.installation-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.home-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.portfolio-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.about-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.alt-contact-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.alt-sourcing-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.alt-consulting-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.alt-installation-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.alt-home-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.alt-about-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.alt-portfolio-button:focus {
  text-decoration: underline;
  -moz-text-decoration-color: #D6CDC6;
  text-decoration-color: #D6CDC6;
}

.image-container {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.fader {
  border-radius: 1em;
  height: 25vw;
  width: 74vw;
  max-height: 100%;
  min-height: 10vw;
  margin: 0 auto;
  border-left: 1.5em solid #aa917d;
  border-right: 1.5em solid #aa917d;
  position: relative;
  overflow: hidden;
}
.fader div.image img {
  display: block;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
}

div.image img {
  z-index: 5;
}

div.image{
  opacity:0;
  transition:all 1s ease-in;
}

div.image.active{
  opacity:1;
}

div.about-image img {
  z-index: 5;
}

div.about-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.about-image.active{
  opacity:1;
}

.highst-image img {
  z-index: 5;
}

div.highst-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.highst-image.active{
  opacity:1;
}

.backbayhotel-image img {
  z-index: 5;
}

div.backbayhotel-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.backbayhotel-image.active{
  opacity:1;
}

.batterywharf-image img {
  z-index: 5;
}

div.batterywharf-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.batterywharf-image.active{
  opacity:1;
}

.centralarteryairintake-image img {
  z-index: 5;
}

div.centralarteryairintake-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.centralarteryairintake-image.active{
  opacity:1;
}

.foxwoods-image img {
  z-index: 5;
}

div.foxwoods-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.foxwoods-image.active{
  opacity:1;
}

.harvardbusinessschool-image img {
  z-index: 5;
}

div.harvardbusinessschool-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.harvardbusinessschool-image.active{
  opacity:1;
}

.harvardlawschool-image img {
  z-index: 5;
}

div.harvardlawschool-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.harvardlawschool-image.active{
  opacity:1;
}

.marlowehotel-image img {
  z-index: 5;
}

div.marlowehotel-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.marlowehotel-image.active{
  opacity:1;
}

.mbtaashmontstation-image img {
  z-index: 5;
}

div.mbtaashmontstation-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.mbtaashmontstation-image.active{
  opacity:1;
}

.southstation-image img {
  z-index: 5;
}

div.southstation-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.southstation-image.active{
  opacity:1;
}

.summerstseawall-image img {
  z-index: 5;
}

div.summerstseawall-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.summerstseawall-image.active{
  opacity:1;
}

.tfgreenairport-image img {
  z-index: 5;
}

div.tfgreenairport-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.tfgreenairport-image.active{
  opacity:1;
}

.wwiimemorial-image img {
  z-index: 5;
}

div.wwiimemorial-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.wwiimemorial-image.active{
  opacity:1;
}

div.contact-image img {
  z-index: 5;
}

div.contact-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.contact-image.active{
  opacity:1;
}

div img {
  z-index: 5;
}

div.sourcing-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.sourcing-image.active{
  opacity:1;
}

div.installation-image img {
  z-index: 5;
}

div.installation-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.installation-image.active{
  opacity:1;
}

div.consulting-image img {
  z-index: 5;
}

div.consulting-image{
  opacity:0;
  transition:all 1s ease-in;
}

div.consulting-image.active{
  opacity:1;
}

.homepage-container {
  /*display: ;*/
  z-index: 1;
  height: auto;
}

div.image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 15%;
  width: 99.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.about-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.highst-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.backbayhotel-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.batterywharf-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.centralarteryairintake-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.foxwoods-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.harvardbusinessschool-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.harvardlawschool-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.marlowehotel-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.mbtaashmontstation-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.southstation-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.summerstseawall-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.tfgreenairport-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}

div.wwiimemorial-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  font-family: arial;
  font-size: 10pt;
  padding: 0.5em;
}


div.contact-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  padding: 0.5em;
  font-family: arial;
  font-size: 10pt;
}

div.sourcing-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  padding: 0.5em;
  font-family: arial;
  font-size: 10pt;
}

div.installation-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  padding: 0.5em;
  font-family: arial;
  font-size: 10pt;
}

div.consulting-image div.caption {
  display: visible;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 10%;
  width: 98.5%;
  bottom: 0;
  padding: 0.5em;
  font-family: arial;
  font-size: 10pt;
}

.dots {
  float: right;
  background-color: rgba(255,255,255,100);
  border: none;
  border-radius: .85vw;
  display: inline-block;
  height: .85vw;
  width: .85vw;
  margin: .2em .2em .2em .2em;
}

.dots.active {
  background-color: #aa917d;
}

.dot-container button {
	padding: 0px;
}

.portfolio-dot.active {
  background-color: #aa917d;;
  border: none;
  border-radius: .85vw;
  display: inline-block;
  height: .85vw;
  width: .85vw;
  margin-left: .5em;
}

.dot-container {
  float: right;
  margin-right: .5em
}

.about-container {
  /*display: flex;*/
  display: none;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  height: auto;
  z-index: 5;
  margin-bottom: 1.5em;
}

.portfolio-fader-99highst {
  display: flex;
  height: auto;
  z-index: 5;
  margin-bottom: 1.5em;
} 

.portfolio-fader-foxwoods, .portfolio-fader-backbayhotel, .portfolio-fader-batterywharf, .portfolio-fader-centralarteryairintake, .portfolio-fader-harvardbusinessschool, .portfolio-fader-harvardlawschool, .portfolio-fader-marlowehotel, .portfolio-fader-mbtaashmontstation, .portfolio-fader-summerstseawall, .portfolio-fader-tfgreenairport, .portfolio-fader-wwiimemorial, .portfolio-fader-southstation {
  display: none;
  height: auto;
  z-index: 5;
  margin-bottom: 1.5em;
}

.about-container.display-flex div.info-page {
  width: 40%;
}

.portfolio-container.display-flex div.info-page {
  width: 40%;
}

.info-page div {
  width: 90%;
  margin: 0 auto;
}

.services-sourcing-container {
  /*display: flex;*/
  display: none;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  height: auto;
  margin: 0 auto;
  z-index: 5;
  font-family: arial;
}

.services-consulting-container {
  /*display: flex;*/
  display: none;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  height: auto;
  margin: 0 auto;
  z-index: 5;
  font-family: arial;
}

.services-installation-container {
  /*display: flex;*/
  display: none;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  height: auto;
  margin: 0 auto;
  z-index: 5;
  font-family: arial;
}

.portfolio-container {
  /*display: flex;*/
  display: none;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  height: auto;
  z-index: 5;
  margin-bottom: 1.5em;
  width: 80%;
}

div.about-main {
  padding-bottom: 1em;
}

div.contact-main {
  padding-bottom: 1em;
}

div.sourcing-main {
  padding-bottom: 1em;
}

div.consulting-main {
  padding-bottom: 1em;
}

div.installation-main {
  padding-bottom: 1em;
}

div.portfolio-main {
  padding-bottom: 1em;
}

.contact-container {
  /*display: flex;*/
  display: none;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  height: auto;
  z-index: 5;
  margin-bottom: 1.5em;
  font-family: arial;
  width: 80%;
}

.display-flex {
  display: flex;
}

.display-all {
  display: flex;
}

.display-none {
  display: none;
}

.info-page {
  border: .5em solid #675241;
  display: block;
  width: 45%;
  height: 41.5vw;
  border-radius: 1.5em;
  background-color: rgba(255,255,255,0.03);
}

.about-fader {
  display: block;
  width: 56%;
  height: 40vw;
  border-top: 1em solid #675241;
  border-bottom: 1em solid #675241;
  border-radius: 1em;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.about-fader img {
  position: absolute;
}

.about-fader img.active {
  z-index: 5;
}

.portfolio-faders-container {
  display: block;
  width: 56%;
  height: 40vw;
  border-top: 1em solid #675241;
  border-bottom: 1em solid #675241;
  border-radius: 1em;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.portfolio-faders-container img {
  position: absolute;
}

.portfolio-faders-container img.active {
  z-index: 5;
}

div.portfolio-project-list {
  padding: 0;
  margin: 0px;
  margin-top: 0.5vw;
}

div.portfolio-project-list ul {
  padding: 0px;
  margin: 0px;
}

div.portfolio-project-list ul li button {
  color: #d6cdc6;
  font-size: 1.55vw;
  line-height: 1.1em;
}

.contact-fader {
  display: block;
  width: 51%;
  height: 40vw;
  border-top: 1em solid #675241;
  border-bottom: 1em solid #675241;
  border-radius: 1em;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.contact-fader img {
  position: absolute;
}

.contact-fader img.active {
  z-index: 5;
}

.sourcing-fader {
  display: block;
  width: 51%;
  height: 40vw;
  border-top: 1em solid #675241;
  border-bottom: 1em solid #675241;
  border-radius: 1em;
  overflow: hidden;
  z-index: 1;
  position: relative;
  margin-bottom: 1.5em;
}

.sourcing-fader img {
  position: absolute;
}

.sourcing-fader img.active {
  z-index: 5;
}



.consulting-fader {
  display: block;
  width: 51%;
  height: 40vw;
  border-top: 1em solid #675241;
  border-bottom: 1em solid #675241;
  border-radius: 1em;
  overflow: hidden;
  z-index: 1;
  position: relative;
  margin-bottom: 1.5em;
}

.consulting-fader img {
  position: absolute;
}

.consulting-fader img.active {
  z-index: 5;
}

.installation-fader {
  display: block;
  width: 51%;
  height: 40vw;
  border-top: 1em solid #675241;
  border-bottom: 1em solid #675241;
  border-radius: 1em;
  overflow: hidden;
  z-index: 1;
  position: relative;
  margin-bottom: 1.5em;
}

.installation-fader img {
  position: absolute;
}

.installation-fader img.active {
  z-index: 5;
}

.contact-info {
  //height: auto;
  padding-left: 0px;
  //display: block;
  //margin-top: .5em;
  //margin-bottom: .5em;
  //margin-right: 4.5em;
  //justify-content: flex-start;
  //font-size: .6em;
  //width: 150%;
}

.contact-main {
  flex-direction: column;
  position: relative;
  height: 95%;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
}

.contact-info li {
  display: block;
  color: #d6cdc6;
  line-height: 1.3em;
}

.contact-main h1 {
  //margin-bottom: .025em;
  //margin-top: .5em;
  //margin-left: 1em;
}

.info-page div .contact-list {
  //margin-right: 1em;
  //width: 50%;
  //height: 100%;
  //left: 0px;
  //top: 40px;
  //font-size: 1.5vw;
  //padding: 5px;
  margin-left: 0px;
}

.contact-info-container {
  //width: auto;
  //display: flex;
  //flex-direction: row;
  //position: absolute;
  margin-left: 1em;
}

div.contact-main div.contact-info-container {
  margin: 0px;
}

.contact-list-info {
  //display: flex;
  //position: relative;
  //top: 4em;
  //left: -7em;
  margin-left: 0px;
}

.footer-logo {
  width: 40%;
  margin: 0 auto;
}

.footer-info {
  text-align: center;
  width: 75%;
  margin: auto;
  padding-top: .5em;
  margin-bottom: .75em;
  border-top: .125em solid #675241;
  line-height: 0vw;
}

.footer-info p {
  font-family: arial;
  font-size: 12pt;
  display: inline-block;
  padding-right: 1em;
}

.info {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
}

.info h1 {
  margin: 0 auto;
}

.dot-active {
	background-color: #766557;
}

.contact-info-container .contact-list-info {
    margin-left: 0px;
}


@media screen and (min-width: 1px) and (max-width: 816px){

  nav ul {
    float: none;
  }

  #nav-content ul li {
    margin: 0 auto;
  }

  .main-logo {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  #main-nav {
    display: none;
    position: absolute;
    margin: 0 auto;
    height: 10px;
    padding-bottom: 10px;
    width: 100%;
    top: 100px;
  }

  nav#main-nav ul{
    margin: 0 auto;
    margin-right: 18%;
  }

  #alt-nav {
  	width: 125%;
  	float: left;
    display: flex;
    margin: 0 auto;
    padding-bottom: 1em;
    margin-left: -11%;
    margin-top: 1em;
  }

  #alt-nav-content {
    margin: 0 auto;
  }

  #alt-nav-content ul {
    padding: 0px;
  }

  #alt-nav-content ul li {
    display: inline-block;
  }

  #alt-nav-content ul li .dropdown-content {
    display: none;
    position: absolute;
    bottom: -2.5em;
    margin: 0 auto;
    left: 21vw;
    height: .5em;
  }

  #alt-nav-content ul li:hover .dropdown-content {
    display: inline-block;
  }

  #alt-nav-content ul li .dropdown-content button {
  	font-size: 7pt;
    padding-top: 0px;
    color: #aa917d;;
    padding-right: 0px;
  }

  #alt-nav-content button p {
    margin: 0 auto;
    font-size: 9pt;
  }

  .main-info ul {
    flex-flow: column;
    margin: 0 auto;
  }

  .main-info ul li {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .main-info ul li h1 {
    display: block;
    margin: 0 auto;
  }

  div.fader {
    margin-top: 1.5em;
  }

  .fader {
    height: 40vw;
  }

  .fader div.image img {
    margin-left: -4.25em;
  }

  .homepage-container.display-flex {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 1.5em;
  }

  .contact-container.display-flex {
    flex-flow: column-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    height: 50%;
    width: 80%;
  }

  .contact-list-info div.contact-list {
    margin-left: 0px;
    font-size: 2.75vw;
  }

  .contact-info-container {
    margin: 0 auto;
  }

  .about-container.display-flex {
    flex-flow: column-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1.5em;
    height: 50%;
    width: 80%;
  }

  .portfolio-container.display-flex {
    flex-flow: column-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1.5em;
    height: 50%;
    width: 100%;
  }

  .services-container.display-flex {
    flex-flow: column-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1.5em;
    height: 50%;
    width: 100%;
  }

  .services-container {
    justify-content: space-around;
  }

  .services-sourcing-container {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 1.5em;
    border: 1px solid transparent;
  }

  .services-consulting-container {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 1.5em;
    border: 1px solid transparent;
  }

  .services-installation-container {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 1.5em;
    border: 1px solid transparent;
  }

  .about-container p {
    font-family: arial;
    font-weight: 100;
    font-size: .95em;
    line-height: 1.4em;
    color: #d6cdc6;
  }

  .portfolio-container {
    font-family: arial;
    font-weight: 100;
    font-size: .95em;
    line-height: 1.4em;
  }

  .services-container p {
    font-family: arial;
    font-weight: 100;
    font-size: .95em;
    line-height: 1.4em;
  }

  .about-container.display-flex div.info-page {
    display: block;
    height: auto;
    z-index: 7;
    width: 80%;
    margin-top: 1em;
    text-align: left;
  }

  .portfolio-container.display-flex div.info-page {
    display: block;
    height: auto;
    z-index: 7;
    width: 78%;
    margin-top: 1em;
    text-align: center;
  }

  .contact-container.display-flex div.info-page {
    display: flex;
    height: 40vw;
    z-index: 7;
    width: 80%;
    margin-top: 1em;
  }

  .services-container.display-flex div.info-page {
    display: block;
    height: auto;
    z-index: 7;
    width: 100%;
    margin-top: 1em;
  }

  .info-page {
    width: 85%;
    height: auto;
  }

  .info-page div {
    display: all;
  }

  .info-page div h1 {
    margin: 0 auto;
    text-align: left;
    margin-top: .5em;
  }

  .info-page div h2 {
    text-align: left;
  }

  .about-fader, .sourcing-fader, .consulting-fader, .installation-fader, .contact-fader, .portfolio-faders-container {
    height: 60vw;
    width: 80%;
  }

  div.portfolio-project-list {
    margin-left: 0 auto;
  }

  div.portfolio-project-list {
    padding-top: 2em;
  }

  div.portfolio-project-list ul li button {
  	font-size: 2.9vw;
  }

  div.image div.caption {
  	font-size: 0.75em;
  }
  div.contact-info-container h1 {
    text-align: left;
  }
  .contact-container .info-page div {
    display: initial;
  }
  .info-page .portfolio-main h1 {
    margin-top: 1em;
  }

}





@media screen and (max-width: 900px) {

  div.portfolio-project-list {
    position: relative;
  }

  div.portfolio-project-list {
    font-size: 0.85em;
    text-align: left;
  }

}

@media screen and (max-width: 1150px) {

  .footer-info {
    line-height: 0vw;
  }

}

@media screen and (max-width: 1020px) {
  .main-info ul {
    flex-flow: column;
    margin: 0 auto;
  }

  .main-info ul li {
    width: 96%;
    height: auto;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
  } 

  .main-info ul li p {
    flex-flow: column;
    text-align: center;
  } 

  .main-info h1 {
    font-size: 3.5vw;
  }

}

@media screen and (max-width: 530px) {

  .contact-container.display-flex div.info-page {
    height: 50vw;
  }

}


@media screen and (max-width: 511px) {

  /*nav#alt-nav div#alt-nav-content ul li button p {
    font-size: 8pt;
  }*/
} 

@media screen and (max-width: 466px) {

  .footer-info p {
    text-align: center;
    font-size: 9pt;
  }

  #alt-nav-content ul li .dropdown-content {
  	left: 17vw;
  }

}

@media screen and (max-width: 420px) {

  #alt-nav-content ul li div.dropdown-content {
    width: 100%;
    font-size: 4pt;
    bottom: -7.5em;
    left: 11em;
  }

}

@media screen and (max-width: 350px) {
	nav#alt-nav div#alt-nav-content ul li button p {
  		font-size: 7pt;
  	}

  	#alt-nav-content ul li div.dropdown-content {
    	left: 8em;
	}
}


html {

  font-family: garamond;
  color: white;

  /* fallback */
  background-image: radial-gradient(at top left 10%,#624c3c,#412d1e);
  background-position: top left;
  background-repeat: repeat;
  height: auto;
  width: 100%;

  /* Safari 4-5, Chrome 1-9 */
  background-image: -webkit-gradient(at 5% 5%, #624c3c, #412d1e);

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-radial-gradient(at 5% 5%, #624c3c, #412d1e);

  /* IE 10 */
  background-image: -ms-radial-gradient(at 5% 5%, #624c3c, #412d1e);


}

html>body {
  background-image: radial-gradient(ellipse farthest-corner at 100px 100px , #624c3c 0%, #412d1e 95%);
}